<style type="text/css">
.c88{
  background: #1d3372;
  color: #fff;
}
.c88__legal{
	 color: #fff;
    font-size: .75rem;
    padding-top: 1rem;
    text-align: center;
}
.grid-banner__content--relative{position: relative;}

@media screen and (min-width: 40rem){
  .c88 .grid-banner__content {
      padding: 0;
  }
}

@media screen and (min-width: 61.25rem){
  .c43__container--padding {
      padding-bottom: 1.125rem !important;
      padding-top: 1.125rem !important;
  }
}
</style>
<div class="c88 c43__container grid grid--full c43__container--padding">
  <div class="grid__unit grid__unit--full grid__unit--equal s-2-2 l-3-3 grid-tile new-row">
    <div class="c43">
      <div class="grid-banner__content grid-banner__content--bottom-center grid-banner__content--text-white grid-banner__content--relative">
        <div class="grid-banner__title grid-banner__title--xl">Mid season sale hasta 70%</div>
        <!--<div class="grid-banner__description"><span class="grid-banner__description-txt">LOS MEJORES LOOKS PARA ESTRENAR LA TEMPORADA</span></div>-->
        <a href="/es/es/mujer" class="grid-banner__button button button-large" title="TENDENCIAS HASTA 70%">COMPRAR MUJER</a>
        <a href="/es/es/hombre" class="grid-banner__button button button-large" title="TENDENCIAS HASTA 70%">COMPRAR HOMBRE</a>
        <div class="c88__legal">
      		<span class="grid-banner__smalltxt">From July 1st to July 31st, 2016. </span>
      		<a href="$url('Page-Show', 'cid', 'promotions')$" class="grid-banner__smalllnk">See more</a>.
      	</div>
      </div><!-- /.grid-banner__content -->
    </div><!-- /.c43.grid-banner -->
  </div><!-- /.grid__unit -->
</div>
