.musical {
    font-family: Lato,Trebouchet,Helvetica,Arial,sans-serif;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    overflow-x: hidden;}

  .musical--margin{margin:3rem 0;}

.musical__row1 {
  /*background: #f8f8f8 url(img/pataky_wearesexywomen_1_backgroundvideo_des.jpg) center 0 no-repeat;*/
  background: #f8f8f8 url(/on/demandware.static/-/Sites-WS-Library/default/dwa21d395d/images/landing/the-musical/pataky_wearesexywomen_1_backgroundvideo_des.jpg) center 0 no-repeat;
  background-size: contain;}

.musical_row1-imgmob{display:none;}

  .musical__row1--space {
    padding: 9rem 0 5rem;
    width: 60%;
    margin: auto;}

.musical__frame {
  width: 970px;
  max-width: 87%;
  /*position: absolute;
  top: 0;//330px;
  left: 0;
  right: 0;*/
  margin: 0 auto;
  border: 10px solid #fff;
  background-color: #000; }

.musical__player {
  width: 100%;
  display: inline-block;
  position: relative; }

  .musical__player:after {
    /* 16:9 ratio */
    padding-top: 56.25%;
    display: block;
    content: ''; }

.musical__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

/* Row2 */
.musical__title{
  font-weight: bold;
  text-align: center;}

  .musical__title--interline{
    font-size:1rem;}

.musical__text{
  display: table;
  font-size:2.2rem;
  letter-spacing: 0.2rem;
  margin: auto;
  text-transform: uppercase;}

.musical__text::before{
  content:':::::::::::::::';
  display: table-cell;
  font-size:1rem;
  letter-spacing: 0;
  padding-right:.3rem;
  vertical-align: middle;}

.musical__text::after{
  content:':::::::::::::::';
  font-size:1rem;
  display: table-cell;
  letter-spacing: 0;
  padding-left:.3rem;
  vertical-align: middle;}

.musical__subtitle{
  font-family: Lato,Trebouchet,Helvetica,Arial,sans-serif;
  font-size:1.3rem;
  font-weight: bold;
  text-align: center;}

/* Row3 */
.musical__row3 {
  text-align: center;}

.musical__colIzq, .musical__colDer {
  display: inline-block;
  vertical-align: top;
  width:42%;}

.musical__colIzq img, .musical__colDer img{
  max-width:100%;}

.musical__shoppables{margin: .5rem 0 0;}

.musical__shoppables li{
  display: block;
  margin: 0 0 .2rem;
  padding: 0 .3125rem;}

.musical__shoppable-link{
  color: #000;
  font-size: .875rem;
  /*letter-spacing: 50px;*/
  line-height: 1.5rem;}

  .musical__shoppable-link:hover{
    text-decoration: none;}

/* Row 5 */
.musical__product{
  display: inline-block;
  margin: 0 0 3rem 0;
  width: 19%;}

  .musical__product-image img{
    max-width: 100%; }

  .c05__thumb-link {background: none;}

  .musical__product-name{
    text-align: center; }

  .musical__buttoms{
    text-align: center;}

    .musical__buttom{
      background: #f7e7e7;
      border: 0;
      border-radius: .125rem;
      font-weight: normal !important;
      cursor: pointer;
      display: inline-block;
      font-family: Playfair Display,Georgia,serif;
      font-size:16px;
      /*height: 41px;*/
      letter-spacing: .1px;
      padding: .625rem 1.3125rem;
      text-decoration: none !important;
      width: auto;
    }
    .musical__buttom:hover{
      color: #000;
      background: #e9c6c8;}

  /* Row 7 */
  .musical__gallery1{
    display: inline-block;
    width:48.4%;
    vertical-align: top;}

    .musical__gallery1 img{ max-width: 100%;}

  .musical__gallery2{
    display: inline-block;
    vertical-align: top;
    width:49%; }

    .musical__gallery2 img{
      display: inline-block;
      width:49%;}

  @media screen and (max-width: 768px) {
    .musical__row1 {background-image: none;}
    .musical_row1-imgmob{display:block;}
    .musical_row1-imgmob img{width:100%;}
    /*.musical__row1 {background-image: url(/on/demandware.static/-/Sites-WS-Library/default/dwa21d395d/images/landing/the-musical/pataky_wearesexywomen_1_backgroundvideo_mob.jpg);}*/
    .musical__text{
      letter-spacing: 0;}
    .musical__text span{display: block;}

    .musical__text::before{content:'';}

    .musical__text::after{content:'';}

    /*.musical--margin{margin:4rem 0 2rem;}*/
    .musical__subtitle {font-size:1.1rem;}
    .musical__subtitle span::before{
      content:':::::::::::::::';
      padding-right:.3rem;}

    .musical__subtitle span::after{
      content:':::::::::::::::';
      padding-left:.3rem;}

    .musical__points--mobile::after{
      content:'::::::::::::::::::::::::::::::';
      font-size:1.2rem;}

      .musical__row1--space {padding: 0;}

    .musical__frame{
      border:0;
      max-width: 100%;}
    /* Row 4 */
    .musical__colIzq, .musical__colDer {
      display: block;
      margin-bottom:2rem;
      width:100%; }

    /* Row 5 */
    .musical__product{width: 49%;}

    .musical__buttom{
      margin-bottom: 1rem;
      min-width: 18rem;}

    /* Row 7 */
    .musical__gallery1{
      text-align: center;
      width: 98.9%; }

      .musical__gallery1 img {width:98%;}

    .musical__gallery2{
      padding-top: .3rem;
      text-align: center;
      width: 99%; }

      .musical__gallery2 img{width: 48.5%;}
  }
