<style type="text/css">
.c88{
	background:#000; 
	color:#fff; 
	text-align:center;
	padding:0.5rem 0;
}
.c88__title{
        font-family: Lato,Trebouchet,Helvetica,Arial,sans-serif;
	font-size: 2.5rem;
        letter-spacing: .03em;
   
}
.c88__legal{
	color: #fff;
        font-size: .75rem;
        padding-top: 1rem;
        text-align: center;
}
</style>
<div class="c88">
    <span class="c88__title grid-banner__title"> 
        EXTRA 10% OFF SELECTED BRAS AND PANTIES
    </span>
    <div class="c88__legal c90__smalltxt">
		<span class="grid-banner__smalltxt">Valid from 01/09/2016 until  26/09/2016.</span>
		<a href="$url('Page-Show', 'cid', 'promotions')$" class="grid-banner__smalllnk">More info in current promos.</a>
	</div>
</div>
