	<div class="c03__row">
		<ul>
			<li class="c03__item c03__item--level-2 c03__item--image">
				<a href="$url('Page-Show','cid','conoce-valencia')$"><img alt="" class="c03__item-image" src="https://s3.amazonaws.com/spf_images/banners/fly_es_es_man_20160504.jpg" /></a>
				<span class="c03__item-legal">
				    <span class="c03__item-legal-txt">Valid from 26/05/16 until 14/06/16. <a href="http://womensecret.com/es/en/promotions.html"><u>More info here.</u></a></span>
				</span>
				<style type="text/css">
					.c03__item-legal{
						font-family: proxima_nova_rgregular,Arial,sans-serif;
						font-size: 0.75rem;
						display:block;
						float: left;
						max-width: 76%;
						padding-top: .3125rem;
						text-transform: none !important;
					}
					.c03__item-legal a{ 
						color:#000;
					}

				</style>
			</li>
		</ul>
	</div>
