<div class="moments">
	<div class="grid">
		<ul>
			<li class="grid__unit m-1-2 c42-list grid-tile new-row">
				<div class="grid-banner">
					<div class="c42__media product-image">
						<img alt="SHOP NOW" class="c42__image grid-banner__image" src="images/homepage/20160812/20160812_home_des_2_a_en.jpg?$staticlink$" title="" />
						<div class="grid-banner__content grid-banner__content--bottom-center grid-banner__content--with-abstract grid-banner__content--text-white">
							<div class="grid-banner__abstract"></div>
							<a class="grid-banner__button button button-large" href="$url('Search-Show', 'cgid', 'men')$" title="SHOP NOW">SHOP NOW</a>
						</div>
					</div>
				</div>
			</li>
			<li class="grid__unit m-1-2 c42-list grid-tile new-row">
				<div class="grid-banner">
					<div class="c42__media product-image">
						<img alt="SHOP NOW" class="c42__image grid-banner__image" src="images/homepage/20160812/20160812_home_des_2_b_en.jpg?$staticlink$" title="" />
						<div class="grid-banner__content grid-banner__content--bottom-center grid-banner__content--with-abstract grid-banner__content--text-white ">
							<div class="grid-banner__abstract"></div>
							<a class="grid-banner__button button button-large" href="$url('Search-Show', 'cgid', 'women')$" title="SHOP NOW">SHOP NOW</a>
						</div>
					</div>

				</div>
			</li>
		</ul>
	</div>
</div>
