<div class="moments">
   <div class="grid">
      <div class="grid__unit m-1-3">
         <a href="$url('Search-Show','cgid','man_jeans')$">
            <div class="moments__item">
               <img alt="" class="moments__img" height="380" src="images/homepage/20161214/20161214_home_des_5_d.jpg?$staticlink$" title="" width="380" />
               <p class="moments__bd">JEANS <br />DESDE 19,99€ </p>
            </div>
         </a>
      </div>
      
      <div class="grid__unit m-1-3">
         <a href="$url('Search-Show','cgid','woman_jeans')$">
            <div class="moments__item">
               <img alt="" class="moments__img" height="380" src="images/homepage/20161214/20161214_home_des_5_e.jpg?$staticlink$" title="" width="380" />
               <p class="moments__bd">JEANS <br />DESDE 14,99€</p>
            </div>
         </a>
      </div>
            
      <div class="grid__unit m-1-3">
         <a href="$url('Search-Show','cgid','man_camisas')$">
            <div class="moments__item">
               <img alt="" class="moments__img" height="380" src="images/homepage/20161214/20161214_home_des_5_f.jpg?$staticlink$" title="" width="380" />
               <p class="moments__bd">CAMISAS <br />DESDE 15,99€</p>
            </div>
         </a>
         <!--<style> p.moments__bd{font-size:4rem}</style>-->
      </div>
   </div>
</div>
