<style>

    /* TEXT BLOCK TOP : BEGIN  */
    
    .custom__m33_text {
        background-color: rgba(248, 113, 91, 0.83);
        display: block;
        font-family: bebas_neuebold;
        margin: 0 auto;
        text-align: center;
        width: 100%;    
    }

    .custom__m33_text_top {
        padding: 1.75rem 1rem 1.25rem;
    }

    .custom__m33_text .c11--homepage {
        margin: 0;
    }

    .custom__m33_text .c11__title, 
    .custom__m33_text .c11__title-sub {
        color: #FFFFFF;
    }
    
    /* TEXT BLOCK TOP : END  */

    /* IMAGE FULL WIDTH : BEGIN */
    
    .custom__m33_image_block, 
    .custom__m33_image_block .grid__unit {
        padding: 0 !important;
    }
    
    /* IMAGE FULL WIDTH : END */

    /* TEXT BLOCK BOTTOM : BEGIN  */
    
    .custom__m33_text_bottom {
        padding: 0 1rem;
    }

    .custom__m33_text_bottom .grid__unit .grid-banner {
        height: 50px;
    }

    .custom__m33_text_bottom .grid-banner__small {
        padding: 0 1rem 1rem;
    }

    .custom__m33_text_bottom .grid-banner__small,
    .custom__m33_text_bottom .grid-banner__small .grid-banner__smalltxt,
    .custom__m33_text_bottom .grid-banner__small .grid-banner__smalllnk{
        color: #FFFFFF;
        font-family: proxima_nova_rgregular, Arial, sans-serif;
    }

    @media screen and (max-width: 980px) {
        .custom__m33_text_bottom {
            margin-top: -3rem;
        }
    }

    @media screen and (max-width: 640px) {

        .custom__m33_text_bottom .grid .grid__unit {
            padding: 0;
        }

        .custom__m33_text_bottom .grid-banner__small {
            padding: 1rem;
        }    
        
    }
    
    /* TEXT BLOCK BOTTOM : BEGIN  */

</style>

<!-- TEXT BLOCK TOP : BEGIN -->
<div class="custom__m33_text custom__m33_text_top">
    <h2 class="c11 c11--homepage">
        <span class="c11__title">25% off everything</span> 
        <span class="c11__title-sub">CODE: <span style="color: #000000; border-bottom: 1px solid #000000;">LOVE</span>
    </h2>
</div>
<!-- TEXT BLOCK TOP : END -->

<!-- IMAGE FULL WIDTH : BEGIN -->
<div class="custom__m33_image_block c43__container grid  grid--full">
    <div class="grid__unit grid__unit--full grid__unit--equal s-2-2 l-3-3 grid-tile new-row ">
        <div class="c43 grid-banner">
            <div class="grid-banner__image c43__image c43__image--m " data-images="{'small': '/on/demandware.static/-/Library-Sites-SPFSharedLibrary/default/dwe51bd2a3/images/homepage/20170209/20170209_home_mob_es_1.jpg?sw=400&amp;sh=600&amp;sm=fit', 'large': '/on/demandware.static/-/Library-Sites-SPFSharedLibrary/default/dw7c872f23/images/homepage/20170209/20170209_home_des_es_1.jpg?sw=2000&amp;sh=900&amp;sm=fit', 'target': '.c43__image-target'}">
                <img src="/on/demandware.static/-/Library-Sites-SPFSharedLibrary/default/dw7c872f23/images/homepage/20170209/20170209_home_des_es_1.jpg?sw=2000&amp;sh=900&amp;sm=fit" alt="" class="c43__image-target">
            </div>
        </div><!-- /.c43.grid-banner -->
    </div><!-- /.grid__unit -->
    <div class="c43__scroll-indicator"><a class="c43__scroll-indicator-link"><span class="icon-arrow-down"></span></a></div>
</div>
<!-- IMAGE FULL WIDTH : END -->

<!-- TEXT BLOCK BOTTOM : BEGIN -->
<div class="custom__m33_text custom__m33_text_bottom">
    
    <div class="grid grid-banner__content--text-white">
        <ul>
            <li class="grid__unit m-1-2 c42-list grid-tile new-row">
                <div class="grid-banner">
                    <div class="c42__media product-image">
                        <div class="grid-banner__content grid-banner__content--bottom-center grid-banner__content--with-abstract grid-banner__content--right">
                            <a class="grid-banner__button button button-large" href="$url('Search-Show','cgid','men')$">SHOP MAN</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="grid__unit m-1-2 c42-list grid-tile new-row">
                <div class="grid-banner">
                    <div class="c42__media product-image">
                        <div class="grid-banner__content grid-banner__content--bottom-center grid-banner__content--with-abstract grid-banner__content--left">
                            <a class="grid-banner__button button button-large" href="$url('Search-Show','cgid','women')$">SHOP WOMAN</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- LEGAL TEXT : BEGIN -->
    <div class="grid-banner__small">
		<span class="grid-banner__smalltxt">Valid from 06/02/2017 to 09/02/2017. Code: LOVE.</span> 
		<a href="$url('Page-Show', 'cid', 'promotions')$" class="grid-banner__smalllnk">See more</a>.
	</div>
    <!-- LEGAL TEXT : END -->
    
</div>
<!-- TEXT BLOCK BOTTOM : END -->
