<style type="text/css">

    .table-container {
        display: table;
        width: 100%;
    }

    .table-container .table-layout {
        display: block;
        vertical-align: middle;
    }

    .main-title {
        margin-bottom: .375rem;
        margin-top: 1.5625rem;
        padding-bottom: 0;
    }

    .main-title h2 {
        margin: 0;
    }

    .main-title .title {
        font-size: 50px;
        font-size: 3.125rem;
        letter-spacing: 0;
        display: block;
        font-family: bebas_neuebold;
        font-weight: 400;
        line-height: .975;
        text-align: center;
        text-transform: uppercase;
    }

    .main-title .sub-title {
        font-size: 16px;
        font-size: 1rem;
        text-transform: none;
        display: block;
        font-family: eksjaregular,serif;
        letter-spacing: .03em;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .poster-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .item-container {
        padding: 10px;
    }

    .text-container {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .text-container .title {
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    .text-container .abstract-text, .text-container .subtitle-text {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .text-container .abstract-text {
        margin: 10px 0;
    }

    .text-container .subtitle-text {
        margin: 25px 0;
    }

    .text-container .title-xxl {
        font-size: 40px;
        font-size: 2.5rem;
        font-family: bebas_neuebold;
        text-shadow: 1px 1px 0 rgba(0,0,0,.19);
        text-transform: uppercase;
        line-height: 2.1875rem;
    }

    .btn-row {
        min-width: 11.25rem;
    }

    .btn-row .button {
        padding: 5px 20px;
        display: inline-block;
        font-size: 15px;
        font-size: .9375rem;
        border: 3px solid #000;
        font-family: proxima_nova_rgbold;
        margin: 0 0 10px;
    }

    .btn-row .button:hover,
    .btn-row .button:focus {
        background: #000;
        border-color: #000;
        color: #fff;
    }

    .bottom-devider:after {
        background: #575757;
        content: "";
        display: block;
        height: .0625rem;
        margin: .4rem auto 0;
        width: 1.875rem;
    }

    .text-color-white.bottom-devider:after {
        background: #fff;
    }
    .text-color-white.bottom-devider:after {
        background: #000;
    }

    /*--------change color for title, subtitle to white --------  */
    .text-color-white {
        color: #fff;
    }

    /*--------change color for title, subtitle to black --------  */
    .text-color-black {
        color: #000;
    }

    /*--------hide element if it's empty --------  */
    .hide-element {
        display: none;
        height: 0;
        width: 0;
    }

    .table-layout.desktop-only {
        display: none;
    }

    @media screen and (min-width: 40rem) {
        .text-container .title-xxl {
            line-height: 2.5rem;
        }
    }

    @media screen and (min-width: 61.25rem) {

        .table-container .table-layout {
            display: table-cell;
        }
        .three-column-item {
            width: 33.3333333333%;
        }

        .main-title .title {
            font-size: 73px;
            font-size: 4.5625rem;
            letter-spacing: .03em;
        }
        .main-title .sub-title {
            font-size: 17px;
            font-size: 1.0625rem;
            width: 100%;
        }

        .text-container .title-xxl {
            font-size: 80px;
            font-size: 5.05rem;
            line-height: 4.5rem;
        }

        .table-layout .mobile-only {
            display: none;
        }

        .text-container .abstract-text {
            margin: 15px 0;
        }
    }

</style>
<div class="main-title">
    <h2 class="text-color-black">
        <span class="title">#SPRINGFIELDISYOU</span>
        <span class="sub-title">"Share your favorites and your best moments on Instagramm. Follow us on @springfieldmw"</span>
    </h2>
</div>

<div class="three-column-container table-container clearfix grid">
    <div class="three-column-item item-container table-layout desktop-only">
        <a href="javascript:void(0);">
            <img class="poster-img" src="images/homepage/20160515/subman_banner4_a.jpg?$staticlink$" />
        </a>
    </div>

    <div class="three-column-item item-container table-layout">
        <div class="mobile-only">
            <a href="javascript:void(0);">
                <img class="poster-img" src="images/homepage/20160515/subman_banner4_b.jpg?$staticlink$" />
            </a>
        </div>
        <div class="text-container">
            <div class="item-content">
                <span class="abstract-text">#SPRINGFIELDISYOU</span>
                <div class="title-xxl text-color-black">
                    Share Your Best Moments
                </div>
                <span class="subtitle-text">Follow us @springfieldmw</span>

            </div>
            <div class="btn-row">
                <a href="javascript:void(0);" class=" button" title="Shop Now" target="_blank">
                    Shop now
                </a>
                <a href="javascript:void(0);" class=" button" title="Shop Now" target="_blank">
                    Shop now
                </a>
            </div>
        </div>
    </div>

    <div class="three-column-item item-container table-layout desktop-only">
        <a href="javascript:void(0);">
            <img class="poster-img" src="images/homepage/20160515/subman_banner4_c.jpg?$staticlink$" />
        </a>
    </div>
</div>
