<div class="moments">
	<h2 class="c11 c11--homepage"><span class="c11__title">MY PERFECT SUMMER</span> <span class="c11__title-sub">Get ready for summer with our New Collection</span></h2>
	<div class="grid">
		<ul>
			<li class="grid__unit m-1-2 c42-list grid-tile new-row">
				<div class="grid-banner">
					<div class="c42__media product-image">
						<img alt="shop woman" class="c42__image grid-banner__image" src="images/homepage/20161027/20161027_home_des_3_a.jpg?$staticlink$" />
						<div class="grid-banner__content grid-banner__content--bottom-center grid-banner__content--with-abstract grid-banner__content--text-white">
							<div class="grid-banner__title">Coats</div>
							<!--<div class="grid-banner__abstract"></div>-->
							<a class="grid-banner__button button button-large" href="$url('Search-Show', 'cgid', 'woman_abrigos')$" title="Shop woman">Shop woman</a>
						</div>
					</div>
				</div>
			</li>
			<li class="grid__unit m-1-2 c42-list grid-tile new-row">
				<div class="grid-banner">
					<div class="c42__media product-image">
						<img alt="shop man" class="c42__image grid-banner__image" src="images/homepage/20161027/20161027_home_des_3_b.jpg?$staticlink$" />
						<div class="grid-banner__content grid-banner__content--bottom-center grid-banner__content--with-abstract grid-banner__content--text-white ">
							<div class="grid-banner__title">Coats</div>
							<!--<div class="grid-banner__abstract"></div>-->
							<a class="grid-banner__button button button-large" href="$url('Search-Show', 'cgid', 'man_abrigos')$" title="Shop man">Shop man</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
